body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f4f6f9;
  color: #333;
}

h1 {
  text-align: center;
}

.tabs {
  text-align: center;
  margin-bottom: 20px;
}

.tablink {
  background-color: #ddd;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  border-radius: 5px;
}

.tablink.active {
  background-color: #4CAF50;
  color: white;
}

.tabcontent {
  display: none;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

form {
  margin-bottom: 20px;
}

input {
  margin: 5px 0;
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#pdf {
    margin-top: 10px;
  padding: 8px 15px;
  background: #3286df;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #b7c1c3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table, th, td {
  border: 1px solid #aaa;
}

th, td {
  padding: 8px;
  text-align: center;
}
button:nth-of-type(2) {
  background: #e74c3c;
}

button:nth-of-type(2):hover {
  background: #c0392b;
}